

    <div class="col-12">
      <span>please enter ur localisation url that you can get from google maps</span>
      <input style="width: 570px">
      <div class="contact-page-map">
        <iframe style="height: 220px" id="gmap_canvas " src="https://maps.google.com/maps?q=university of san francisco&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div><!-- map -->
      <input class="test2" type="button"  onclick="test2()" value="Apply Changes">
    </div>



