

    <div class="col-12">
      <span>please enter ur localisation url that you can get from google maps</span>
        <form  class=form-group #monForm=ngForm (ngSubmit)=updateLocalisation()>
            <input type=text name=username [(ngModel)]=localisation._username class=
                    form-control required #nameField="ngModel" >
            https://maps.google.com/maps?q=university of san francisco&t=&z=15&ie=UTF8&iwloc=&output=embed
        <input style="width: 570px"name=localisation [(ngModel)]=localisation._localisation
               class=form-control required #nameField="ngModel">
         <div class="contact-page-map">

              <div *ngFor="let elt of localisations">
              <span *ngIf="elt._username=='admin'" >
                  <iframe  style="height: 220px" id="gmap_canvas "
                          [src]="elt._localisation | safe"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

                  </iframe>
              </span>
              </div>
         </div>
            <input class="btn btn-primary btn-block" type="submit" value="Apply Changes"></form>
    </div>




