<body class="single-page">
<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="card card-container">

          <h1>Hi {{currentUser.firstName}}!</h1>
<p>You can manage everything from here !!!</p>
<h3>All registered users:</h3>
<ul>
  <li *ngFor="let user of users" >
    <div *ngIf="user.username!=='admin' " >
    {{user.username}} ({{user.firstName}} {{user.lastName}})
    - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </div>
  </li>
</ul>
<p><a [routerLink]="['/login']">Logout</a></p>
          </div></div></div></div></div></header></body>
