.contact{
  width: 300px;
}
.test2.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.test2:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.test2 {
  cursor: pointer;
  position: center;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2.6em;
  width: 130px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}
