<div class="card bg-light">
  <div class="content">
    <div class="main">
      <h3> CV Update</h3>
    </div>
    <div class="user">
      <img class="img-circle" src="assets/images/{{personne.path|defaultImage}}">
    </div>
  </div>
  <div class="content">
    <div class="main">
      <h3>Informations</h3>
      <p><span class="font-weight-bold">Name : </span><input [(ngModel)]="personne.name"></p>
      <p><span class="font-weight-bold">Firstname : </span><input [(ngModel)]="personne.firstName"></p>
      <p><span class="font-weight-bold">Job : </span><input [(ngModel)]="personne.job"></p>
      <p><span class="font-weight-bold">Age : </span><input [(ngModel)]="personne.age"></p>
      <p><span class="font-weight-bold">Cin : </span><input [(ngModel)]="personne.cin"></p>
    </div>
  </div>
  <div class="footer">
    <button (click)="update()" class="btn btn-primary">Submit</button>
  </div>
</div>

