
        <div class="opening-hours">
          <h2 class="d-flex align-items-center">Opening Hours</h2>

          <ul class="p-0 m-0">
            <li>Monday - Thursday <span><input type="time">  - <input type="time"> </span></li>
            <li>Friday <span><input type="time"> - <input type="time"> </span></li>
            <li>Saturday <span><input type="time">  - <input type="time"> </span></li>
            <li>Sunday <span><input type="time">  - <input type="time"> </span></li>
          </ul>
          <input class="test2" type="button"  onclick="test2()" value="Apply Changes">
          <br><br><br><br><br>
        </div>

