
  <div class="contact-info h-100">
    <h2 class="d-flex align-items-center">Contact Info</h2>

    <ul class="p-0 m-0">
      <li><span>Addtress:</span><input id="txt1" class="contact" value="Mitlton Str. 26-27 London UK"></li>
      <li><span>Phone:</span><input id="txt2" class="contact" value="+216 00 000 000"></li>
      <li><span>Email:</span><input id="txt3" class="contact" value="yourmail@gmail.com"></li>
    </ul>
    <input class="test2" type="button"  onclick="test2()" value="Apply Changes">
  </div>

<br><br><br><br>
