<body class="single-page elements-page">
  <div class="container">
    <div class="row elements-wrap">
      <div class="col-12">
        <header class="entry-header elements-heading">
        </header>

        <div class="entry-content elements-container">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 offset-lg-1 col-lg-2">
              <div class="circular-progress-bar">
                <circle-progress
                  [percent]="90"
                  [radius]="70"
                  [outerStrokeColor]="'#4882c2'"
                  [innerStrokeColor]="'#e7e8ea'"
                  [outerStrokeGradientStopColor] = "'#53a9ff'"
                  [animation]="true"
                  [animationDuration]="1000"
                ></circle-progress>

                <h3 class="entry-title">Donation </h3>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <div class="circular-progress-bar">
                <circle-progress
                  [percent]="65"
                  [radius]="70"
                  [outerStrokeColor]="'#4882c2'"
                  [innerStrokeColor]="'#e7e8ea'"
                  [outerStrokeGradientStopColor] = "'#53a9ff'"
                  [animation]="true"
                  [animationDuration]="1000"
                ></circle-progress>

                <h3 class="entry-title">Ambition</h3>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <div class="circular-progress-bar">
                <circle-progress
                  [percent]="25"
                  [radius]="70"
                  [outerStrokeColor]="'#4882c2'"
                  [innerStrokeColor]="'#e7e8ea'"
                  [outerStrokeGradientStopColor] = "'#53a9ff'"
                  [animation]="true"
                  [animationDuration]="1000"
                ></circle-progress>

                <h3 class="entry-title">Good Luck</h3>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <div class="circular-progress-bar">
                <circle-progress
                  [percent]="59"
                  [radius]="70"
                  [outerStrokeColor]="'#4882c2'"
                  [innerStrokeColor]="'#e7e8ea'"
                  [outerStrokeGradientStopColor] = "'#53a9ff'"
                  [animation]="true"
                  [animationDuration]="1000"
                ></circle-progress>

                <h3 class="entry-title">High Tech</h3>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <div class="circular-progress-bar">
                <circle-progress
                  [percent]="83"
                  [radius]="70"
                  [outerStrokeColor]="'#4882c2'"
                  [innerStrokeColor]="'#e7e8ea'"
                  [outerStrokeGradientStopColor] = "'#53a9ff'"
                  [animation]="true"
                  [animationDuration]="1000"
                ></circle-progress>

                <h3 class="entry-title">Science</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
